apiVersion: apps/v1
kind: Deployment
metadata:
  name: scielo-app
  labels:
    app: scielo-app

spec:
  revisionHistoryLimit: 5

  selector:
    matchLabels:
      app: scielo-app

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1

  template:
    metadata:
      labels:
        app: scielo-app

    spec:
      containers:
      - name: webapp
        image: infrascielo/opac_5   # digest vem do kustomize
        imagePullPolicy: IfNotPresent

        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false

        ports:
        - containerPort: 8000
          name: webapp

        readinessProbe:
          tcpSocket:
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10

        livenessProbe:
          tcpSocket:
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 20

        volumeMounts:
        - name: app-data
          mountPath: /app/data

      volumes:
      - name: app-data
        persistentVolumeClaim:
          claimName: placeholder-pvc
