apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# usa base comum
resources:
  - ../base

# namespace de produção
namespace: scielo-pf

# replicas de produção
replicas:
  - name: scielo-app
    count: 9

# imagem com digest (CI atualiza)
images:
  - name: infrascielo/opac_5
    newName: infrascielo/opac_5
    digest: sha256:8c03bf1ae0f696f8eb9f1313967e512eb01690c8dbd4b9b218beb0e74442e52b

# patches específicos de produção
patches:
  # Deployment
  - target:
      kind: Deployment
      name: scielo-app
    patch: |
      # adiciona secret
      - op: add
        path: /spec/template/spec/containers/0/envFrom
        value:
          - secretRef:
              name: secrets-scielo-pf

      # tolerations de produção
      - op: add
        path: /spec/template/spec/tolerations
        value:
          - key: app
            operator: Equal
            value: scielo-pf
            effect: NoSchedule

      # PVC de produção
      - op: replace
        path: /spec/template/spec/volumes/0/persistentVolumeClaim/claimName
        value: scielo-pf-data-pvc

  # Service
  - target:
      kind: Service
      name: scielo-app-svc
    patch: |
      - op: replace
        path: /spec/ports/0/nodePort
        value: 32641
